@import '~@angular/material/theming';

@mixin project-tile-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $config: mat-typography-config();

  app-project-tile {
    color: mat-color($foreground, text);
    background-color: mat-color($background, card);
    font-family: mat-font-family($config);

    .project-tile {
      @include mat-elevation(2);

      :hover {
        background-color: transparent;
      }
    }

    .project-tile-title {
      color: mat-color($foreground, text);

      font: {
        size: mat-font-size($config, headline);
        weight: mat-font-weight($config, headline);
      }
    }

    .project-tile-content {
      color: map_get($mat-grey, 600);
      font-size: mat-font-size($config, body-1);
    }

    :hover {
      background-color: mat-color($background, hover);
    }
  }
}
