<app-form-panel [formGroup]="projectForm">
  <app-form-panel-header>
    <h3>Create a project</h3>
  </app-form-panel-header>

  <app-form-panel-body>
    <md-input-container class="example-full-width">
      <input mdInput required placeholder="Project Name" formControlName="name">
      <md-error>The project name is required</md-error>
    </md-input-container>
    <md-input-container class="example-full-width">
      <textarea mdInput placeholder="Descriptions" formControlName="description"></textarea>
    </md-input-container>
  </app-form-panel-body>

  <app-form-panel-actions>
    <button md-raised-button color="primary" (click)="createProject()">Save</button>
  </app-form-panel-actions>
</app-form-panel>
