.project-card-container {
  padding-top: 10px;
}

.project-name {
  display: block;
  padding-top: 10px;
}

.project-description {
  display: block;
  margin: 10px;
  max-height: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-project {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

