.flex-spacer {
  flex-grow: 1;
}
.pageheader-right {
  float: right;
}

.project-card-container {
  padding-top: 10px;
}

.project-name {
  display: block;
  padding-top: 10px;
}

.project-description {
  display: block;
  margin: 10px;
  max-height: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
}

